# Calculate summary statistics (mean, median,mode, standard deviation) for a dataset

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the data
data = pd.read_csv('gender_submission.csv')

In [3]:
# First five rows
data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [4]:
# Last five rows
data.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [5]:
# Columns in data
data.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [6]:
# Shape of data
data.shape

(418, 2)

In [7]:
# Information of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [8]:
# Statistics of data
data.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,418.0,1100.500000,120.810458,892.0,996.25,1100.5,1204.75,1309.0
Survived,418.0,0.363636,0.481622,0.0,0.00,0.0,1.00,1.0

In [9]:
# Check missing values
data.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [10]:
# Check minimum values in data
data.min()

PassengerId    892
Survived         0
dtype: int64

In [11]:
# Check maximum values
data.max()

PassengerId    1309
Survived          1
dtype: int64

In [12]:
# Check mean values
data.mean()

PassengerId    1100.500000
Survived          0.363636
dtype: float64

In [13]:
# Check median values
data.median()

PassengerId    1100.5
Survived          0.0
dtype: float64

In [14]:
# Check mode values
data.mode()

     PassengerId  Survived
0            892       0.0
1            893       NaN
2            894       NaN
3            895       NaN
4            896       NaN
..           ...       ...
413         1305       NaN
414         1306       NaN
415         1307       NaN
416         1308       NaN
417         1309       NaN

[418 rows x 2 columns]

In [15]:
# Check standard deviation in data
data.std()

PassengerId    120.810458
Survived         0.481622
dtype: float64