# Identify and remove duplicate values in a dataset.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the data
data = pd.read_csv('iris.csv')

In [3]:
# First five rows
data.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  target
0           0           5.1          3.5           1.4          0.2       0
1           1           4.9          3.0           1.4          0.2       0
2           2           4.7          3.2           1.3          0.2       0
3           3           4.6          3.1           1.5          0.2       0
4           4           5.0          3.6           1.4          0.2       0

In [4]:
# Last five rows
data.tail()

     Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  target
145         145           6.7          3.0           5.2          2.3       2
146         146           6.3          2.5           5.0          1.9       2
147         147           6.5          3.0           5.2          2.0       2
148         148           6.2          3.4           5.4          2.3       2
149         149           5.9          3.0           5.1          1.8       2

In [5]:
# Columns in data
data.columns

Index(['Unnamed: 0', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'target'],
      dtype='object')

In [6]:
# Shape of data
data.shape

(150, 6)

In [7]:
# Information of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   sepal_length  150 non-null    float64
 2   sepal_width   150 non-null    float64
 3   petal_length  150 non-null    float64
 4   petal_width   150 non-null    float64
 5   target        150 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 7.2 KB

In [8]:
# Statistics of data
data.describe()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,target
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,74.500000,5.843333,3.054000,3.758667,1.198667,1.000000
std,43.445368,0.828066,0.433594,1.764420,0.763161,0.819232
min,0.000000,4.300000,2.000000,1.000000,0.100000,0.000000
25%,37.250000,5.100000,2.800000,1.600000,0.300000,0.000000
50%,74.500000,5.800000,3.000000,4.350000,1.300000,1.000000
75%,111.750000,6.400000,3.300000,5.100000,1.800000,2.000000
max,149.000000,7.900000,4.400000,6.900000,2.500000,2.000000

In [9]:
# Check missing values
data.isnull().sum()

Unnamed: 0      0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
target          0
dtype: int64

In [11]:
# Check duplicate values
data.duplicated().sum()

0

* No duplicate Values present in data.